
.cartWidget {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartWidget svg {
    height: auto;
    width: 40px;
}

.cartWidget-cant {
    position: relative;
    right: -0.2em;
    bottom: -2.9em;
}