
.nB {
    display: flex;
    justify-content: center;
}

.divNavBar {
    position: relative;
    top: 0%;
    margin: 30px;
    padding: 0px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imgNavBar {
    width: 200px;
    height: auto;
    display: flex;
    position: left;
}

.centro {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.marcas {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}